<table align="center" style="width:100%; border:2px #a3b1bf solid; background:#f5faff; text-align:left;">
<tr>
<td colspan="3" align="center" style="background:#cee0f2; text-align:center;">
<h2 style="margin:.5em; margin-top:.1em; margin-bottom:.1em; border-bottom:0; font-weight:bold;"><span class="mw-headline" id="Editing_wikitext">Editing wikitext</span></h2>
</td>
</tr>
<tr style="background:#E6F2FF; padding:0.3em; font-size: 0.9em; text-align:center;">
<td style="border-bottom:2px #a3b1bf solid" width="30%">Description</td>
<td style="border-bottom:2px #a3b1bf solid">You type</td>
<td style="border-bottom:2px #a3b1bf solid" width="30%">You get</td>
</tr>
<tr>
<td>Italics, bold, and both</td>
<td>
<p><tt>''italics'', '''bold''', and '''''both'''''</tt></p>
</td>
<td>
<p><i>italics</i>, <b>bold</b>, and <i><b>both</b></i></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Link to another page</td>
<td>
<p><tt>[[copy edit]]</tt><br />
<tt>[[copy edit]]ors</tt></p>
</td>
<td>
<p><a href="/wiki/Copy_edit" title="Copy edit" class="mw-redirect">copy edit</a><br />
<a href="/wiki/Copy_edit" title="Copy edit" class="mw-redirect">copy editors</a></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>
<p>Link with a different destination</p>
</td>
<td>
<p><tt>[[Android (operating system)|Android]]</tt></p>
</td>
<td>
<p><a href="/wiki/Android_(operating_system)" title="Android (operating system)">Android</a></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>
<p>Link to a section</p>
</td>
<td>
<p><tt>[[Frog#Jumping]]</tt><br />
<tt>[[Frog#Jumping|the jumping of frogs]]</tt></p>
</td>
<td>
<p><a href="/wiki/Frog#Jumping" title="Frog">Frog#Jumping</a><br />
<a href="/wiki/Frog#Jumping" title="Frog">the jumping of frogs</a></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>References and footnotes
<div style="padding: 0.7em .5em; font-size:0.9em;"><i>sources in the article will appear where {{reflist}} is put, typically under a level 2 section heading (see below) towards the bottom of the page; text between {{}} is for a template</i></div>
<div style="padding: 0.7em .5em; font-size:0.9em;"></div>
</td>
<td>
<p><tt>Hello,&lt;ref&gt;[http://www.loc.gov/about/ Library of Congress]&lt;/ref&gt; World.&lt;ref&gt;http://www.w3.org/&lt;/ref&gt;</tt><br />
<br />
<tt>References: {{reflist}} or &lt;/references&gt;</tt></p>
</td>
<td>
<p>Hello,<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>1<span>]</span></a></sup> World.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>2<span>]</span></a></sup></p>
<p>References:</p>
<div class="reflist" style="list-style-type: decimal;">
<ol class="references">
<li id="cite_note-1"><span class="mw-cite-backlink"><b><a href="#cite_ref-1">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.loc.gov/about/">Library of Congress</a></span></li>
<li id="cite_note-2"><span class="mw-cite-backlink"><b><a href="#cite_ref-2">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.w3.org/">http://www.w3.org/</a></span></li>
</ol>
</div>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Plain website</td>
<td>
<p><tt>http://www.wikipedia.org</tt></p>
</td>
<td>
<p><a class="external free" href="http://www.wikipedia.org">http://www.wikipedia.org</a></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Link a website</td>
<td>
<p><tt>[http://www.wikipedia.org Wikipedia]</tt></p>
</td>
<td>
<p><a class="external text" href="http://www.wikipedia.org">Wikipedia</a></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Hide text somewhere for editors</td>
<td>
<p><tt>&lt;!--This had consensus, discuss at talk page--&gt;</tt></p>
</td>
<td></td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Show an image</td>
<td>
<p><tt>[[</tt>Example.jpg<tt>|thumb|</tt>Caption<tt>]]</tt></p>
</td>
<td>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/File:Example.jpg" class="image"><img alt="" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a9/Example.jpg/220px-Example.jpg" width="220" height="238" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg 1.5x, //upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg 2x" data-file-width="275" data-file-height="297" /></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/File:Example.jpg" class="internal" title="Enlarge"><img src="https://bits.wikimedia.org/static-1.24wmf1/skins/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>
Caption</div>
</div>
</div>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Add a page to a category</td>
<td><tt>[[Category:Category name]]</tt><br />
<br />
<span style="font-size:0.9em;"><i>place near the bottom of a page</i></span></td>
<td><span style="font-size:0.9em;"><i>shows</i></span> "Category name" <span style="font-size:0.9em;"><i>in a bar at bottom when the page is previewed or saved</i></span></td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Superscript</td>
<td>
<p><tt>x&lt;sup&gt;2&lt;/sup&gt;</tt></p>
</td>
<td>
<p>x<sup>2</sup></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Subscript</td>
<td>
<p><tt>CO&lt;sub&gt;2&lt;/sub&gt;</tt></p>
</td>
<td>
<p>CO<sub>2</sub></p>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>Works only at the beginning of lines</b> &#160; &#160;</center>
</td>
</tr>
<tr style="background:#E6F2FF; padding:0.3em; font-size: 0.9em; text-align:center;">
<td style="border-bottom:2px #a3b1bf solid" width="30%">Description</td>
<td style="border-bottom:2px #a3b1bf solid">You type</td>
<td style="border-bottom:2px #a3b1bf solid" width="30%">You get</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Section headings<br />
<div style="padding: 0.7em .5em; font-size:0.9em;"><i>a Table of Contents will automatically be generated when four headings are added to an article</i></div>
</td>
<td>
<p><tt>==Level 2==</tt><br />
<tt>===Level 3===</tt><br />
<tt>====Level 4====</tt><br />
<tt>=====Level 5=====</tt><br />
<tt>======Level 6======</tt><br />
<br />
<span style="font-size:0.9em"><i>do not use</i>&#160; =Level 1=&#160; <i>as it is for page titles</i></span></p>
</td>
<td>
<h2><span class="mw-headline" id="Level_2">Level 2</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=API&amp;action=edit&amp;section=1" title="Edit section: Level 2">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<h3><span class="mw-headline" id="Level_3">Level 3</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=API&amp;action=edit&amp;section=2" title="Edit section: Level 3">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<h4><span class="mw-headline" id="Level_4">Level 4</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=API&amp;action=edit&amp;section=3" title="Edit section: Level 4">edit</a><span class="mw-editsection-bracket">]</span></span></h4>
<h5><span class="mw-headline" id="Level_5">Level 5</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=API&amp;action=edit&amp;section=4" title="Edit section: Level 5">edit</a><span class="mw-editsection-bracket">]</span></span></h5>
<h6><span class="mw-headline" id="Level_6">Level 6</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=API&amp;action=edit&amp;section=5" title="Edit section: Level 6">edit</a><span class="mw-editsection-bracket">]</span></span></h6>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Bulleted list</td>
<td>
<p><tt>* One</tt><br />
<tt>* Two</tt><br />
<tt>** Two point one</tt><br />
<tt>* Three</tt></p>
</td>
<td>
<ul>
<li>One</li>
<li>Two
<ul>
<li>Two point one</li>
</ul>
</li>
<li>Three</li>
</ul>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Numbered list</td>
<td>
<p><tt># One</tt><br />
<tt># Two</tt><br />
<tt>## Two point one</tt><br />
<tt># Three</tt></p>
</td>
<td>
<ol>
<li>One</li>
<li>Two
<ol>
<li>Two point one</li>
</ol>
</li>
<li>Three</li>
</ol>
</td>
</tr>
<tr>
<td colspan="3" style="border-top:1px solid #cee0f2;"></td>
</tr>
<tr>
<td>Indenting text
<div style="padding: 0.7em .5em; font-size:0.9em;"><i>this is mainly used when replying on a talk page and not that often in the articles.</i></div>
</td>
<td>
<p><tt>no indent (normal)</tt><br />
<tt>:first indent</tt><br />
<tt>::second indent</tt><br />
<tt>:::third indent</tt><br />
<tt>::::fourth indent</tt></p>
</td>
<td>
<p>no indent (normal)<br /></p>
<dl>
<dd>first indent
<dl>
<dd>second indent
<dl>
<dd>third indent
<dl>
<dd>fourth indent</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</dd>
</dl>
</td>
</tr>
<tr>
<td colspan="3" style="background:#E6F2FF; border-top:2px #a3b1bf solid">
<center><b>For more info look at <a href="//en.wikipedia.org/wiki/en:Help:Contents" class="extiw" title="w:en:Help:Contents">a general help page</a> in English Wikipedia.</b> &#160; &#160;</center>
</td>
</tr>
<tr>
<td colspan="3">All of this is based on the English Wikipedia. There is small variation among different language versions. Like instead of "Category:" there might be "Kategooria:", "Kategorie:", "Категория:", etc, instead of "File:" there might be "Pilt:", "Datei:", "Файл:", etc.</td>
</tr>
</table>
